@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/reg_bg1.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

button {
    border-radius: 20px;
    border: 1px solid #292929;
    background-color: #292929;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

form {
    background-color: #595b5c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    min-height: 300px; 
    height: 70%; 
    text-align: center;
    flex-grow: 1; 
}



input, select {
    width: 85%; 
    background-color: #cec7c7;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px; 
}

#age-container, #gender-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    margin: 8px 0; 
}

#age-container label, #gender-container label {
    margin-right: 10px;
    font-size: 14px;
    flex: 0 0 100px; 
}

#age-container input, #gender-container select {
    flex: 1;
    width: auto; 
}


.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
}


.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sign-up-container {
    width: 100%;
    opacity: 1;
    z-index: 1;
}

.overlay-container {
    display: none;
}

.footer {
    display: none;
}
