
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                {% csrf_token %} 
                <br>
                <a href="{% url 'registration' %}"><button type="button">Register</button></a>
                <br>
                <a href="{% url 'signin' %}"><button type="button">Login</button></a>
                <br>
            </form>
        </div>
    </div>
    



</body>
</html>
